<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Choose Payment Method:</h2>
        <% @payment_methods.each do |payment_method|%>
            <p><b>Payment Type: </b><%= payment_method.payment_method_name %></p>
            <p><b>Account Number: </b><%= payment_method.account_number %></p>
            <%= link_to 'Choose this Payment Method' %>
            <hr>
        <% end %>

    </div>
  </div>
</div>
