<%= render template: "./shared/_header" %>

<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <h2>PUTTING THE CART BEFORE THE HORSE</h2>

    </div>
  </div>
</div>
